@use "../../abstracts/index"as *;

.body-landing {
    // font-family: $font-geist;
    // font-weight: normal;
    // letter-spacing: -3%;
    // background: var(--bg-2);

    &::-webkit-scrollbar {
        width: 0px;
    }

    .canvas-mb {
        width: 320px !important;

        .canvas-footer {
            padding: 0;

            .tf-grid-layout {
                >* {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }
}

.header-landing {
    .item-link {
        font-weight: 500;
        padding-top: 21px;
        padding-bottom: 21px;
        letter-spacing: -3%;
        line-height: 22px;
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }

    .header-inner {
        border-radius: 20px;
    }

    .box-btn-open-menu {
        transform: rotateY(180deg);
    }

    @include res(xl, min) {
        .header-right {
            margin-right: -6px;
        }
    }

    @include res(xxl, min) {
        .box-nav-menu {
            gap: 40px;
        }

        .header-right {
            margin-right: -16px;
        }
    }

    @include res(xl) {
        .header-inner {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .logo-site {
            max-width: 100%;
        }
    }
}

.tf-btn-v2 {
    align-items: center;
    gap: 6px;
    padding: 8px 15px;
    font-weight: 500;

    color: var(--white);
    border-radius: 12px;
    position: relative;

    >* {
        position: relative;
        z-index: 1;
        @include transition3;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        background: linear-gradient(97deg, #FFA11F, #D24625, #FFA11F);
        background-size: 200% 100%;
        animation: gradientFlow 3s linear infinite;
        z-index: 0;
        @include transition3;
        border-radius: 12px;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0px;
        z-index: 0;
        @include transition3;
        background: var(--black);
        border-radius: 12px;
        @include hidden;
    }

    &:hover {

        >*,
        &::after {
            transform: translateY(-4px);
        }

        &::after {
            @include visible;
        }
    }

    &.style-white {

        &::after {
            background: var(--white);
        }

        svg {
            path {
                @include transition3;
            }
        }

        &:hover {
            color: var(--black);

            svg {
                path {
                    @include transition3;
                    fill: black;
                }
            }
        }
    }

    @include res(xl, min) {
        max-height: 48px;
        padding: 13px 20px;
    }
}

.hero-landing {
    padding-top: 160px;
    position: relative;

    .hero-image {
        position: absolute;
        inset: 0;
        z-index: 0;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-content {
        position: relative;
        z-index: 1;
        display: grid;
        place-items: center;
        text-align: center;

        .badge {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            padding: 8px 16px;
            border-radius: 99px;
            box-shadow:
                0px 1px 8px 0px #0000001A,
                0px 0px 2px 0px #0000001A,
                inset 0px 0px 16px 0px #F2F2F2,
                inset 0px 0px 1px 1px #999999,
                inset 0px 0px 3px 1px #FFFFFF26,
                inset -1px -1px 1px -0.5px #FFFFFFBF,
                inset 1px 1px 1px -0.5px #FFFFFFBF,
                inset 3px 3px 0.5px -3.5px #FFFFFFCC,
                inset 3px 3px 0.5px -3.5px #FFFFFFBF;
            position: relative;

            &::after {
                // content: "";
                position: absolute;
                inset: 0;
                z-index: 0;
                border-radius: 99px;
                background: #E6E6E6;
            }

            &::before {
                // content: "";
                position: absolute;
                inset: 0;
                z-index: 0;
                border-radius: 99px;
                background: #333333CC;
            }

            .badge-item {
                position: relative;
                z-index: 1;
            }
        }

        .group-btn {
            gap: 24px;
        }
    }

    .badge,
    .title,
    .desc,
    .group-btn {
        margin-bottom: 24px;
    }

    .list-benefit {
        margin-bottom: 30px;
    }

    .benefit-item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 7px;
        padding-right: 12px;
        border-radius: 99px;
        background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
        border: 1px solid #262626;
        backdrop-filter: blur(4px);

        .ic-wrap {
            @include flex(center, center);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #F0F23214;
            border: 1px solid #FFFFFF0F;
        }

        .icon {
            color: #F0F232;
            font-size: 20px;
        }
    }

    .infiniteSlide-demo {
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(160/446 * 100%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 64%, #000000 100%);
            z-index: 1;
        }

        .infiniteSlide-item {
            margin-left: 12px;
            margin-right: 12px;
        }

        .infiniteSlide-wrapper {
            display: flex !important;
            flex-wrap: nowrap !important;
        }

        .image-demo {
            max-width: 360px;
            border-radius: 6px;
            overflow: hidden;

            img {
                aspect-ratio: calc(360/444);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            @include res(xl) {
                max-width: 300px;
            }

            @include res(md) {
                max-width: 260px;
            }
        }

        .text-demo {
            position: absolute;
            z-index: 2;
            bottom: 0;
            bottom: 40px;
            left: 15px;
            right: 15px;
            display: flex;
            align-items: end;
            justify-content: center;
            gap: 12px;

            .img-item {
                display: flex;
                max-width: 40px;
                width: 100%;

                img {
                    width: 100%;
                    // height: 100%;
                    object-fit: cover;
                    aspect-ratio: calc(40/34);
                }
            }

            @include res(lg) {
                bottom: 20px;
            }
        }
    }

    @include res(xl, min) {

        .badge,
        .title,
        .group-btn {
            margin-bottom: 32px;
        }

        .desc {
            margin-bottom: 40px;
        }

        .benefit-item {
            position: absolute;
            padding-right: 23px;
            z-index: 2;

            &.benefit-1 {
                top: 12%;
                left: 2%;
            }

            &.benefit-2 {
                top: 46%;
                left: 4%;
            }

            &.benefit-3 {
                top: 12%;
                right: 2%;
            }

            &.benefit-4 {
                top: 46%;
                right: 4%;
            }

            .ic-wrap {
                width: 48px;
                height: 48px;

                .icon {
                    font-size: 24px;
                }
            }
        }
    }


    @include res(xxl, min) {
        .group-btn {
            margin-bottom: 80px;
        }

        .benefit-item {
            &.benefit-1 {
                top: 12%;
                left: 5%;
            }

            &.benefit-2 {
                top: 40%;
                left: 10%;
            }

            &.benefit-3 {
                top: 12%;
                right: 5%;
            }

            &.benefit-4 {
                top: 40%;
                right: 10%;
            }
        }
    }

    @include res(md, between, lg) {
        .list-benefit {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.eyebrow-label-v2 {
    position: relative;
    border-radius: 999px;
    overflow: hidden;
    display: inline-flex;


    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        background: linear-gradient(97deg, #FFA11F, #D24625, #FFA11F);
        background-size: 200% 100%;
        animation: gradientFlow 3s linear infinite;
        z-index: 0;
        @include transition3;
    }

    .wrap {
        @include flex(center, center);
        position: relative;
        z-index: 1;
        gap: 6px;
        color: var(--white);
        height: 37px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &.style-2 {
        background: var(--white);
        align-items: center;
        gap: 6px;
        height: 37px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 24px 24px -12px var(--elevationshadow),
            0px 3px 3px -1.5px var(--elevationshadow),
            0px 1px 1px -0.5px var(--elevationshadow);
        border: 1px solid var(--line-6);

        &::before {
            display: none;
        }

        .br-dot {
            background: #31A6F4;
        }
    }
}

.section-design-testimonial {
    .content {
        display: grid;
        place-items: center;
        text-align: center;

        .author {
            display: flex;
            align-items: end;
            gap: 6px;

            .logo {
                padding-bottom: 6px;
            }
        }
    }
}

.landing-heading {
    display: grid;
    gap: 24px;
    place-items: start;

    &.center {
        place-items: center;
        text-align: center;
    }

    .has-number {
        display: grid;
        place-items: center;

        .view-counter {
            margin-bottom: 6px;

            @include res(xl, min) {
                margin-bottom: -16px;
            }
        }

        .badge-landing {
            position: relative;
            z-index: 1;
        }
    }
}

.badge-landing {
    height: 32px;
    background: #F0F232;
    border: 2px solid var(--white);
    border-radius: 99px;
    @include flex(center, center);
    padding-left: 12px;
    padding-right: 12px;
}

.demo-grid_layout {
    @include res(xxl, min) {
        gap: 48px;
    }
}

.landing-bottom {
    display: grid;
    place-items: center;
    text-align: center;

    .text-gif {
        display: flex;
        align-items: center;
    }

    .fr-gif {
        transform: rotate(-65deg);
        max-width: 78px;
        width: 100%;

        &.left {
            transform: rotate(-125deg) rotateX(180deg);
        }
    }
}

.demo-card {

    position: relative;
    z-index: 1;

    .main-card {
        padding: 12px;
        background: var(--white);
        border-radius: 12px;
        box-shadow: 0px 24px 24px -12px var(--elevationshadow),
            0px 3px 3px -1.5px var(--elevationshadow),
            0px 1px 1px -0.5px var(--elevationshadow);
        @include transition3;
        border: 1px solid #E5E5E5;
        position: relative;
        z-index: 1;
    }

    .card-image {
        margin-bottom: 12px;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(424/472);
        }
    }

    .card-link {
        gap: 8px 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(66/558*100%);
        background: linear-gradient(91.95deg, #FFA11F 0%, #D24625 100%);
        border-radius: 12px;
        z-index: 0;
        @include transition3;
        @include hidden;
    }

    .wrap {
        width: 48px;
        height: 26px;
        border-radius: 99px;
        @include flex(center, center);
        background: linear-gradient(91.95deg, #FFA11F 0%, #D24625 100%);
        color: var(--white);
        @include transition3;
        @include hidden;
    }

    &:hover {
        .main-card {
            transform: translateY(-8px);
            background: var(--black);
            border-color: var(--black);
        }

        .card-link {
            color: var(--white);
        }

        .wrap {
            @include visible;
        }

        &::before {
            @include visible;
        }
    }

    &.coming {
        pointer-events: none;
    }

    @include res(xl, min) {
        .main-card {
            padding-bottom: 24px;
        }

        .card-image {
            margin-bottom: 24px;
        }
    }

    @include res(sm) {
        .card-link {
            justify-content: center;
            text-align: center;

            .text {
                width: 100%;
            }
        }

        .wrap {
            @include visible;
        }
    }
}

.section-demo-page {
    background: linear-gradient(180deg, #F5F5F5 0%, #F3F3F3 100%);
    position: relative;

    .bg-img-item {
        top: unset;
    }

    @include res(lg, min) {
        .wrap-bottom {
            .text-gif {
                gap: 16px;
            }
        }
    }

    @include res(xxl, min) {
        border-radius: 12px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

.section-inner-page {
    // overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;

    .content {
        position: relative;
        z-index: 1;

        // position: absolute;
        // inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrap-inner-list {

        position: absolute;
        max-width: 340px;
        z-index: 0;
        bottom: 0;
        top: 0px;

        .image-inner {
            max-width: 228px;
            width: 100%;
        }

        .list-image {
            display: grid;
            gap: 12px;
        }


        &.inner-left {
            left: 15px;
        }

        &.inner-right {
            right: 15px;
        }

        @include res(xl, min) {
            display: flex;
            gap: 12px;
        }

        @include res(xxl, min) {
            max-width: calc(228*2px + 24px);
            gap: 24px;

            .list-image {
                gap: 24px;
            }

            &.inner-left {
                left: 40px;
            }

            &.inner-right {
                right: 40px;
            }
        }

        @include res(xxxl, min) {
            &.inner-left {
                left: 80px;
            }

            &.inner-right {
                right: 80px;
            }
        }

        @include res(lg) {
            max-width: 200px;
        }

        @include res(md) {
            max-width: 140px;
        }
    }
}

.land-feature-v01 {
    background: var(--white);
    box-shadow: 0px 24px 24px -12px var(--elevationshadow),
        0px 3px 3px -1.5px var(--elevationshadow),
        0px 1px 1px -0.5px var(--elevationshadow);
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .feature-content {
        padding: 32px;
        padding-bottom: 0;
        display: grid;
    }

    .feature_name {
        margin-bottom: 8px;
    }

    .feature-image {
        padding: 32px 12px 12px 12px;

        img {
            // width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image {
            &.sizeImg1 {
                max-width: 632px;
            }

            &.sizeImg2 {
                max-width: 209px;
            }
        }
    }

    &.style-v1 {
        .feature-image {
            .image {
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid var(--line-6);
            }
        }
    }

    &.style-v2 {
        .feature-image {
            padding: 40px 32px 40px 32px;
        }
    }

    &.style-v3 {
        .feature-image {
            padding: 32px 24px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.style-v4 {
        .feature-image {
            // padding: 32px 24px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.has-background {
        position: relative;

        .bg-item-card {
            position: absolute;
            inset: 0;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .feature-content,
        .feature-image {
            z-index: 1;
        }

        .feature-image {
            padding: 32px 40px;
        }

        .image-list {
            display: flex;
            align-items: center;
            gap: 12px;

            @include res(xl, min) {
                gap: 25px;
            }
        }
    }

    @include res(lg) {
        .feature-content {
            padding: 20px 15px 0px 15px;
        }

        .feature-image {
            padding: 20px 12px 12px 12px !important;

            .image {
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid var(--line-6);
                padding: 8px;

                img {
                    // aspect-ratio: calc(420/320);
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
            }
        }
    }
}

.feature-grid_layout {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 15px;

    .size-half {
        grid-column: span 6;
    }

    @for $i from 1 through 12 {
        .col-size-#{$i} {
            grid-column: span 12;
        }
    }

    @include res(sm, min) {
        @for $i from 1 through 12 {
            .col-size-#{$i} {
                grid-column: span 6;
            }
        }
    }

    @include res(lg, min) {
        gap: 24px;
    }

    @include res(xl, min) {
        @for $i from 1 through 12 {
            .col-size-#{$i} {
                grid-column: span #{$i};
            }
        }
    }
}

.banner-feature {
    position: relative;

    .bn-content {
        .title {
            margin-bottom: 24px;
        }
    }

    .bn-image {
        border-radius: 12px;
        overflow: hidden;
    }

    @include res(sm, min) {
        .bn-content {
            position: absolute;
            left: 40px;
            top: 40px;
            bottom: 40px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    @include res(xxl, min) {
        .bn-content {
            left: 80px;
        }
    }

    @include res(sm) {
        min-height: 300px;
        display: flex;
        align-items: center;

        .bn-image {
            position: absolute;
            inset: 0;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1;
                backdrop-filter: blur(4px);
            }
        }

        .bn-content {
            position: relative;
            z-index: 1;
            padding: 60px 15px;
        }
    }
}

.wg-tool {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px 39px 7px 7px;
    background: var(--white);
    box-shadow: 0px 24px 24px -12px var(--elevationshadow),
        0px 3px 3px -1.5px var(--elevationshadow),
        0px 1px 1px -0.5px var(--elevationshadow);
    border-radius: 99px;
    border: 1px solid var(--line-6);

    .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        background: var(--bg-2);
        @include flex(center, center);

        img {
            max-width: 48px;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }

    .name {
        margin-bottom: 2px;
    }

    @include res(lg) {
        padding-right: 20px;
        gap: 12px;

        .image {
            width: 60px;
            height: 60px;

            img {
                max-width: 28px;
            }
        }
    }
}

.infiniteSlide-tool {
    .infiniteSlide-item {
        margin-left: 8px;
        margin-right: 8px;
    }
}

.banner-build {
    .col-right {
        position: relative;
        -webkit-mask-image: linear-gradient(90deg, transparent 0%, white 18%, white 82%, transparent 100%);
        -webkit-mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-image: linear-gradient(90deg, transparent 0%, white 18%, white 82%, transparent 100%);
        mask-mode: alpha;
        mask-repeat: no-repeat;

        >* {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        &::before,
        &::after {
            // content: "";
            position: absolute;
            width: 64px;
            bottom: 0;
            top: 0;
            z-index: 1;
        }

        &::before {
            left: 0;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, #FFFFFF 100%);
        }

        &::after {
            right: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, #FFFFFF 100%);
        }
    }

}

.perform-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    .card-img-bg {
        position: absolute;
        inset: 0;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-content {
        position: relative;
        z-index: 2;
        display: grid;
        height: 100%;

        .heading {
            padding: 64px 15px 56px 15px;
            display: grid;
            place-items: center;
            text-align: center;
        }
    }

    .note {
        position: absolute;
        bottom: 40px;
        left: 15px;
        right: 15px;
        text-align: center;
        z-index: 2;
    }

    .infiniteSlide-demo {
        position: relative;
        margin-top: auto;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(160/446 * 100%);
            background: linear-gradient(180deg, rgba(8, 26, 14, 0) 0%, rgba(8, 26, 14, 0.8) 64%, #081A0E 100%);
            z-index: 1;
        }

        .infiniteSlide-item {
            margin-left: 6px;
            margin-right: 6px;
        }

        .image-demo {
            border-radius: 6px;
            overflow: hidden;

            img {
                aspect-ratio: calc(414/446);
                object-fit: cover;
                object-position: top;
            }

            @include res(xxl) {
                max-width: 350px;
            }

            @include res(lg) {
                max-width: 300px;
            }
        }
    }
}

.perform-card-v2 {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card-img-bg {
        position: absolute;
        inset: 0;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-content {
        position: relative;
        z-index: 1;
        background: var(--white);
        border-radius: 12px;
        overflow: hidden;

        &.content-1 {
            padding: 32px;
        }

        &.content-2 {
            // height: 100%;
            display: flex;
            align-items: center;
            flex: 1;

            img {
                width: 100%;
            }
        }
    }

    @include res(xxl, min) {
        padding: 40px;
    }
}

.perform-card-v3 {
    background: var(--black);
    padding: 20px;
    border-radius: 12px;

    .card-badge {
        padding: 4px 11px;
        background: linear-gradient(92.83deg, rgba(255, 161, 31, 0.16) 0%, rgba(210, 70, 37, 0.16) 117.77%);
        border-radius: 99px;
        overflow: hidden;
        margin-bottom: 24px;
        display: inline-flex;
        position: relative;

        .text {
            background: linear-gradient(92.13deg, #FFA11F 0%, #D24625 149.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }

    .desc {
        margin-bottom: 40px;
    }

    .box-seo {
        padding: 19px;
        border: 1px solid #262626;
        border-radius: 12px;
        background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
        backdrop-filter: blur(4px);
        max-width: 284px;
        width: 100%;

        .score-prg {
            height: 12px;
            border-radius: 99px;
            background: #FFFFFF1F;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background: #FFFFFF1F;
            }

            .prg-line {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 80%;
                background: linear-gradient(91.95deg, #FFA11F 0%, #D24625 100%);
                border-radius: 99px;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #FFFFFF4D;
                    z-index: 1;
                }

                &::before {
                    left: 4px;
                }

                &::after {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .dot {
                    position: absolute;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background: var(--white);
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                }
            }
        }
    }

    .box-benefit {
        padding: 15px;
        border: 1px solid #262626;
        border-radius: 12px;
        background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
        backdrop-filter: blur(4px);
        display: grid;
        gap: 12px;
        max-width: 117px;
        width: 100%;

        li {
            display: flex;
            align-items: center;
            gap: 4px;

            .icon {
                font-size: 12px;
                color: #C1DE56;
            }
        }
    }

    .group-bottom {
        position: relative;
        display: flex;
        justify-content: center;

        .box-seo {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .box-benefit {
            position: absolute;
            right: 0;
            bottom: 40px;
        }
    }

    @include res(xxl, min) {
        padding: 40px;
    }
}

.slider-thumb-wrap {
    .list-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        .btn-thumbs {
            cursor: pointer;
            @include transition3;

            &:not(.active) {
                opacity: 0.24;
            }
        }
    }

    .testimonial-content {
        display: grid;
        place-items: center;

        .tes-text {
            margin-bottom: 24px;
            text-align: center;
        }

        .tes-author {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .author_image {
            border-radius: 50%;
            overflow: hidden;
        }
    }

    @include res(xl, min) {
        .list-btn {
            gap: 64px;
        }

        .testimonial-content {
            .tes-text {
                margin-bottom: 48px;
            }
        }
    }

    @include res(lg) {
        .list-btn {
            gap: 16px;
        }
    }
}


.accordion-item {
    @include transition3;
    padding-left: 24px;
    padding-right: 24px;

    .number-order {
        font-size: 12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--main_400);
        color: var(--white);
        @include flex(center, center);
        position: relative;
        z-index: 1;
        flex-shrink: 0;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            @include transition3;
            border-radius: 50%;
            background: linear-gradient(91.95deg, #FFA11F 0%, #D24625 100%);
            @include hidden;
        }
    }

    .accordion-action {
        gap: 12px;
        justify-content: start;

        &:not(.collapsed) {
            margin-bottom: 8px;
        }
    }

    .accordion-content {
        padding-bottom: 24px;
        padding-left: 36px;
    }

    &:has(.accordion-action:not(.collapsed)) {
        background: var(--white);
        box-shadow: 0px 24px 24px -12px var(--elevationshadow),
            0px 3px 3px -1.5px var(--elevationshadow),
            0px 1px 1px -0.5px var(--elevationshadow);
        border-radius: 12px;

        .number-order {
            &::after {
                @include visible;
            }
        }
    }

    @include res(lg) {
        padding-left: 16px;
        padding-right: 16px;

        .accordion-content {
            padding-bottom: 16px;
        }
    }
}

.wg-module-inner {
    padding: 20px 15px;
    background: var(--white);
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    position: relative;
    z-index: 1;

    .view-counter {
        margin-bottom: 16px;
        margin-top: auto;
    }

    .module-name {
        margin-bottom: auto;
    }

    @include res(xl, min) {
        padding: 32px 48px;

    }

    @include res(xxl, min) {
        .module-name {
            margin-bottom: 68px;
        }
    }

}

.wg-module {
    position: relative;
    max-width: 416px;
    margin: 0 auto;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        border-radius: 99px;
        height: calc(104/416 * 100%);
        background: linear-gradient(90deg, #28C6FF 0%, #573CF1 100%);
        z-index: 0;
        @include hidden;
        @include transition3;
    }



    &:hover {
        &::after {
            @include visible;
        }
    }

    @include res(md, min) {
        margin-top: 88px;

        &.pst-center {
            margin-top: 0;
            margin-bottom: 88px;
        }
    }

    @include res(xl, min) {
        &::after {
            bottom: -16px;
        }
    }
}

.banner-landing-cta {
    max-width: 1790px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    .content {
        padding: 24px;
        background: #B86C32;
        border-radius: 20px;
        position: relative;
        overflow: hidden;


    }

    .bg-img-item {
        position: absolute;
        inset: 0;
        display: flex;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .inner {
        padding: 201px 80px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .landing-heading {
            position: relative;
            z-index: 1;
        }
    }

    @include res(xl) {
        .inner {
            padding: 100px 40px;

            &::after {
                content: "";
                inset: 0;
                position: absolute;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, #fff 100%);
            }
        }

        .landing-heading {
            width: 50%;
        }
    }

    @include res(lg) {
        .inner {
            padding: 40px 15px;
        }

        .landing-heading {
            width: 60%;
        }

        .content {
            padding: 15px;
        }
    }

    @include res(sm) {
        .landing-heading {
            width: 100%;
        }
    }
}

.tf-footer-landing {
    // background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 64%, #000000 100%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 64%, #000000 100%);
        z-index: 1;
    }

    .bg-img-item {
        position: absolute;
        inset: 0;
        display: flex;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer-top,
    .footer-bottom {
        z-index: 2;
        position: relative;
    }

    .ft-badge {
        background: linear-gradient(91.95deg, #FFA11F 0%, #D24625 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .ft-infor {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 12px;
        flex-wrap: wrap;
    }

    .ft-logo-large {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-bottom-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 48px;
        gap: 16px;
    }

    .footer-bottom {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, #000000 0%, #000000 24.45%, rgba(0, 0, 0, 0.64) 40%, rgba(0, 0, 0, 0.06) 72%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
            pointer-events: none;
        }
    }

    @include res(lg, min) {
        .footer-bottom-inner {
            .tf-list {
                flex: 1;
            }
        }
    }

    @include res(lg) {
        .footer-bottom-inner {
            padding-bottom: 20px;
        }
    }
}

.section-feature {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.section-advance-feature {
    .bg-img-item {
        img {
            object-fit: unset;
        }
    }
}

.banner-advanced {
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    .banner-image {
        position: absolute;
        inset: 0;
        display: flex;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            // background: #5997FF;
            background-image: url("../images/landing/item/bg-item-6.jpg");
            mix-blend-mode: soft-light;
            z-index: 1;
            display: none;
        }
    }

    .banner-content {
        text-align: center;
        padding-top: 248px;
        padding-bottom: 248px;
        position: relative;
        z-index: 1;
    }

    .advanced-item {
        z-index: 1;

        .advanced-image {
            border-radius: 6px;
            overflow: hidden;
            border: 3px solid #FFFFFF3D;
            box-shadow: 0px 59.18px 59.18px -29.59px var(--elevationshadow),
                0px 7.4px 7.4px -3.7px var(--elevationshadow),
                0px 2.47px 2.47px -1.23px var(--elevationshadow);
        }

        .advanced-tag {
            border-color: var(--white_40);
            backdrop-filter: blur(4px);
        }
    }

    @include res(lg, min) {
        .advanced-item {
            position: absolute;

            &.pst-1 {
                top: calc(88/660 * 100%);
                left: calc(120/1440 * 100%);

                .advanced-tag {
                    position: absolute;
                    left: -67px;
                    bottom: 48px;
                }

                @include res(xl, min) {
                    left: calc(163/1440 * 100%);
                }
            }

            &.pst-2 {
                top: calc(56/660 * 100%);
                left: calc(616/1440 * 100%);

                .advanced-tag {
                    position: absolute;
                    right: -72px;
                    bottom: 12px;
                }
            }

            &.pst-3 {
                top: calc(128/660 * 100%);
                right: calc(80/1440 * 100%);

                .advanced-tag {
                    position: absolute;
                    // right: -72px;
                    bottom: -29px;
                    width: max-content;
                }

                @include res(xl, min) {
                    right: calc(137/1440 * 100%);
                }
            }

            &.pst-4 {
                bottom: calc(56/660 * 100%);
                left: calc(263/1440 * 100%);

                .advanced-tag {
                    position: absolute;
                    right: -65px;
                    bottom: 16px;
                }
            }

            &.pst-5 {
                bottom: calc(56/660 * 100%);
                right: calc(279/1440 * 100%);

                .advanced-tag {
                    position: absolute;
                    right: -61px;
                    bottom: 19px;
                }
            }
        }
    }

    @include res(lg) {
        .advanced-list {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .banner-content {
            padding-top: 100px;
            padding-bottom: 100px;

            .desc {
                margin-bottom: 30px;
            }
        }

        .advanced-item {
            display: grid;
            gap: 12px;
            place-items: center;
        }
    }

    @include res(sm) {
        .banner-content {
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .advanced-list {
            gap: 30px;
        }

        .advanced-item {
            // width: 100%;

            .advanced-image {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        background: var(--black);

        .banner-image {
            display: none;
        }
    }
}